<!-- Header -->
<header id="header">
  <!--<h1 id="logo"><a href="index.html">{{ site.title }} <span>{{ site.description }}</span></a></h1>-->
  <nav id="nav">
    <ul>
      <a href="{{"/cfp.html" | prepend: site.baseurl}}">Call for Papers</a>
      <a href="{{"/special-session.html" | prepend: site.baseurl}}">Special Sessions</a>
      <a href="{{"/si.html" | prepend: site.baseurl}}">Special Issues</a>
      <a href="{{"/tutorial.html" | prepend: site.baseurl}}">Tutorials</a>        
      <li class="submenu">
        <a href="#">Attend</a>
        <ul>
          <li>
            <a href="{{"/hotel.html" | prepend: site.baseurl}}">Holiday Inn</a>
          </li>
          <li>
            <a href="{{"/travel.html" | prepend: site.baseurl}}">Map & Directions</a>
          </li>
        </ul>
      </li>
      <a href="{{"/organization.html" | prepend: site.baseurl}}">Organization</a>
    </ul>
  </nav>
</header>
