<!-- Sidebar -->
<div class="sidebar">
  <section>
    <header>
      <h3>Notice</h3>
    </header>
    <p>The conference hotel venue has been changed from Hyatt Regency Orlando to Holiday Inn Orlando-Disney Springs.</p>
    <footer>
      <ul class="buttons">
        <li><a href="{{"/hotel.html" | prepend: site.baseurl}}" class="button small">Learn More</a></li>
      </ul>
    </footer>
  </section>

  <section>
    <header>
      <h3>Important Dates</h3>
    </header>
    <strong>
        Regular papers:
    </strong>
    <ul>
      <li>
      Submission Due:                                  July 10, 2017
      </li>
      <li>
      Acceptance Notification Due:            Aug. 20, 2017
      </li>
    </ul>
    <strong>
      Work-in-Progress/Poster papers:
    </strong>
    <ul>
      <li>
      Submission Due:                                  Aug. 15, 2017
      </li>
      <li>
      Acceptance Notification Due:            Aug. 20, 2017
      </li>
    </ul>
    <strong>
      Workshop/Special Session papers:
    </strong>
    <ul>
      <li>
      Submission Due:                                  Aug. 15, 2017
      </li>
      <li>
      Acceptance Notification Due:            Aug. 20, 2017
      </li>
    </ul>
    <ul>
      <li>
      All Paper Registrations Due:              Sept. 17, 2017
      <li>
      </li>
      <li>
      Camera-ready Manuscript Due:       Sept. 21, 2017
      </li>
    </ul>
    <footer>
      <ul class="buttons">
        <li><a href="{{"/download/CyberSciTech2017CFP_final.pdf" | prepend: site.baseurl}}" class="button small">Download CFP</a></li>
      </ul>
    </footer>
  </section>

  <section>
    <header>
      <h3>Sponsors</h3>
    </header>
    
    <a href="#" class="image featured"><img src="{{ "/images/ieee-logo.jpg" | prepend: site.baseurl }}" alt="" /></a>
    <a href="#" class="image featured"><img src="{{ "/images/IEEE_TCSC_logo.jpg" | prepend: site.baseurl }}" alt="" /></a>
    <a href="#" class="image featured"><img src="{{ "/images/IEEECS_CPS.jpg" | prepend: site.baseurl }}" alt="" /></a>
  </section>
</div>
