<!-- Sidebar -->
<div class="sidebar">
  <section>
    <header>
      <h3>Notice</h3>
    </header>
    <p>The conference hotel venue has been changed from Hyatt Regency Orlando to Holiday Inn Orlando-Disney Springs.</p>
    <footer>
      <ul class="buttons">
        <li><a href="{{"/welcome.html" | prepend: site.baseurl}}" class="button small">Learn More</a></li>
      </ul>
    </footer>
  </section>

  <section>
    <header>
      <h3>Important Dates</h3>
    </header>
    <ul>
      <li>Workshop Proposal Due: March 30, 2017</li>
      <li>Special Session Proposal Due: April 30, 2017</li>
      <li>Paper Submission Deadline: May 30, 2017</li>
      <li>Author Notification: August 10, 2017</li>
      <li>Camera-ready Due: September 10, 2017</li>
    </ul>
    <footer>
      <ul class="buttons">
        <li><a href="{{"/download/CyberScience2017-CFP-0728.pdf" | prepend: site.baseurl}}" class="button small">Learn More</a></li>
      </ul>
    </footer>
  </section>

  <section>
    <header>
      <h3>Sponsors</h3>
    </header>
    <a href="#" class="image featured"><img src="{{ "/images/ieee-logo.jpg" | prepend: site.baseurl }}" alt="" /></a>

    <a href="#" class="image featured"><img src="{{ "/images/IEEE_TCSC_logo.jpg" | prepend: site.baseurl }}" alt="" /></a>
    <a href="#" class="image featured"><img src="{{ "/images/IEEECS_CPS.jpg" | prepend: site.baseurl }}" alt="" /></a>
  </section>
</div>
